.lista {
    height: 4%;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: start;
    background-color: #FAEB93;
}
.prvek-listy {
    max-width: 10%;
    padding-right: 5%;
}

.zarovnani {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

p {
text-align: justify;
}

body {
font-family: sans-serif;
background-color: #FFB0D2;
}

#tabulka {
border-collapse: collapse;
border: 2px solid #6B024F;
}

ol {
list-style-type: disc;
}

h1 {
text-align: center;
font-size: 300%;
}

a{
text-decoration: underline;
color: #6B024F;
}


#penizky{
    background-image: url("duchodci.jfif");
    width: 22%;
    border: 15px solid yellow;
    padding: 3% 1.5% 3% 1.5%;
    margin-left: 39%;
    margin-top: 20%;
    transform: rotate(30deg);
    font-size:200%;
    text-align:center;
}
#predseda{
    width = 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}
#sipka{
    padding-left:50%;
    padding-bottom:20%;
    transform:rotate(110deg);
}
#popis{
    padding-left:5%;
    width: 5%;
    margin-left: 5%;
    font-size:200%;
    text-align:center;
}
#odkazy{
    background-color: yellow;
    width: 40%;
    padding: 1% 1% 1% 1%;
    margin-left: 10%;
    margin-top: 10%;
    font-size:120%;
    text-align:center;
    height:10%;
}
#ramec{
    display: flex;
    jusitfy-content: start;
}
